*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

$font-family:marine,sans-serif;
$text-color:rgba(27,27,27,0.8);
$regular-font-weight:400;
$bold-font-weight:700;
$bg-color:#F8EBB1;
$bg1-color:#FBEAE7;
$cta-color:#473BF0;
$btn-text-color-light:#E7E6F0;

@mixin mq($arg){
    @media screen and (max-width:$arg){
        @content;
    }
}


@mixin base_button{
    padding:2% 2.5%;
    font-size:1.2rem;
    font-weight:$bold-font-weight;
    border:none;
    border-radius:5px;
    margin:1.5% 0;
    cursor: pointer;
    transition: all 0.5sec ease-in 1s;
    a{
        text-decoration: none;
    }
}

body{
    font-family: $font-family;
    @include mq(950px){
        font-size:18px;
    }
    @include mq(800px){
        font-size:16px;
    }
    background-color: $bg-color;
}
.bg1{
   //border:2px dashed green;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: $bg1-color;
    z-index:-1;
}
.container{
    height:100vh;
    display: grid;
    place-items: center;
    //border:2px solid blue;
    .text{
        text-align: center;
        h1{
            padding-top:0;
            padding-bottom:1.5%;
            color:$text-color;
            font-size:2.5rem;
            @include mq(950px){
                font-size:2.5rem;
            }
            @include mq(800px){
                font-size:2rem;
            }
     
            span{
                color:lighten($cta-color,5);
            }
        }
        .btn{
           font-size: 1.1rem;
           font-family: $font-family;
           margin:2% auto;
           padding:1.1rem 2rem;
           border-radius: 5px;
           border:none;
           background-color:$cta-color;
           a{
               text-decoration: none;
               color:$btn-text-color-light;
               font-weight:900;
           }
        }
    }
    
}
